@import  "ReusableComponents";
.nav-bar{
background-color: #0D72A1;
color:$light_blue;
padding-top:10px;
padding-bottom: 10px;
}
#nav-ul{
list-style: none;
display: flex;
flex-direction: row;
justify-content: center;
justify-content: space-around;

}
