@import "ReusableComponents";

//SearchPage.js 

#search-page-form-div
{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
#search-form{
    display: flex;
    flex-direction: column;
    padding-left: 150px;
    padding-right: 150px;
    align-items: center;
    background-color: $light_blue_transparent;
    border:groove 2.5px $light_blue;

}
.input-class{
    width: 75px;
    height: 15px;
}
#form-inputs-div{
    display: flex;
   flex-direction: row;
}
.input-class{
    width: 170px;
    cursor:text;
    font-family: $noto_sans;
    background-color: rgb(246, 246, 246);
    
}


#display-select-div{
    display: flex;
    flex-direction: row;
}
.form-mini-divs{
margin-right: 15px;
}
.job-display-p{
    @include font_text_search();
}


.select-to-display{
    cursor: pointer;
    font-family: $noto_sans;
    font-size: 12px;
    width: 100px;
    text-align: center;
}
#clear-button-search-page{
   @include buttons();

}
#submit-button-form{
    @include buttons();
    margin-right: 15px;
 }

 #clear-button-search-page:hover{
    background-color: $beige;
    cursor: pointer;
}
#submit-button-form:hover{
    background-color: $beige;
    cursor: pointer;
}

//SearchJob.js

#main-div-job-search-results{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 15px;
}

.job-search-output-div-class{
display: flex;
flex-direction: column;
text-align: center;
background-color: $light_blue_transparent;
border:groove 2.5px $light_blue;
}

.job-search-output-class-h2{
    @include font_text_search();
    font-size: 17px;
}
.job-search-output-class-p{
    @include font_text_search();
    margin-top: -5px;
}

.job-search-output-class-a{
    @include font_text_search();
    text-decoration: none;
    margin-bottom: 10px;
    margin-top: -10px;
}

.job-search-output-class-a:hover{
    color:$light_blue;
    text-decoration: underline;
}

//MapSearch.js

.map-image{
    border:groove 2.5px $light_blue;
}
.map-info-ul{
list-style: none;
text-align: left;
@include font_text_search();
}


