@import "ReusableComponents";

#search-page-form-div
{
    display: flex;
    justify-content: center;
    background-color: $light_blue;
}
#search-form{
    display: flex;
    flex-direction: column;
    padding-left: 150px;
    padding-right: 150px;
    align-items: center;
    border: solid 5px green;

}
.input-class{
    width: 75px;
    height: 15px;
}
#form-inputs-div{
    display: flex;
   flex-direction: row;
}
.input-class{
    width: 170px;
}