@import  "ReusableComponents";

//SignIn.js
.sign-in-wrapper{
    @include display_signIn();
    margin-top: 50px;
    height: auto;   
}

.sign-in-parent{
    text-align: center;
}

.sign-in-title{
    @include sign-text();
    font-size: 25px;
}

#sigin-div{
    @include display_signIn();
    padding:25px 55px 35px 55px;
    background-color: $light_blue;
    border:groove 2.5px $light_blue;
}

.sign-in-btn{
    @include buttons();
}

.need-account{
    @include sign-text();
}

.sign-in-form{
    @include sign-text();
}

.email-input{
    margin-right: 15px;
}

.need-account{
    @include sign-text();
}

.sign-up-link{
    @include sign-text();
}

.sign-up-link:hover{
    color:$blue;
}

//SignUp.js
.sign-up-wrapper{
    @include display_signIn();
    margin-top: 50px;
    height: auto;   
}

.sign-up-parent{
    text-align: center;
}

.sign-up-title{
    @include sign-text();
    font-size: 25px;
}

#sigup-div{
    @include display_signIn();
    padding:25px 55px 35px 55px;
    background-color: $light_blue;
    border:groove 2.5px $light_blue;
}

.new-user-sign-up{
    @include buttons();
}

.have-account{
    @include sign-text();
}

.sign-up-display-form{
    @include sign-text();
}

.sign-in-link{
    @include sign-text();
}

.sign-in-link:hover{
    color:$blue;
}